.header {
    position: absolute;
    width: 100%;
    background-color: #FDF9F1;
}

.header-title {
    color: #2A1804;
}

.header-navigation {
    background-color: #B3B0A3;
    width: 320px;
    position: relative;
    left: -8px;
}

.header-navigation-list {
    width: 206px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 23px;
    row-gap: 5px;
    margin-left: 11px;
}

.header-navigation-list-item-link {
    /* font-family: Noto Serif TC; */
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.4px;
}

@media (min-width: 1200px) {

    .header-title {
        height: 192px;
        font-size: 100px;
        padding: 30px 30px 0 30px;
    }

    .header-navigation {
        width: 1200px;
        height: 60px;
        left: -30px;
    }

    .header-navigation-list {
        margin-left: 30px;
        width: 522px;
        column-gap: 10px;
        flex-wrap: nowrap;
    }

    .header-navigation-list-item-link {
        font-size: 19px;
        line-height: 3.2;
    }
}

.hero {
    background-color: rgba(254, 221, 153, 0.82);
    padding-top: 96px;
}

.hero-navigation-food-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 4px;
}

.hero-navigation-food-list-item-link {
    font-family: Noto Serif TC;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.4px;
}

.hero-list-item {
    display: flex;
}

.photo {
    display: none;
}

.hero-list-item-arrow-left {
    width: 13px;
}

.hero-list-item-picture {
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    margin-bottom: 42px;
}

.hero-list-item-picture-text {
    width: 255px;
    height: 27px;
    background-color: rgba(255, 255, 255, 1);
    /* font-family: Noto Sans TC; */
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.4px;
    position: relative;
    top: -27px;
    right: -5px;
    padding-top: 3px;
    padding-left: 12px;
}

@media (min-width: 1200px) {
    .hero {
        height: 1061px;
        padding-top: 252px;
    }

    .hero-navigation-food-list-item-link {
        font-size: 20px;
        line-height: 3;
    }

    .hero-list {
        display: flex;
    }

    .hero-list-item {
        width: 490px;
        height: 603px;
    }

    .hero-list-item:nth-child(1) {
        position: relative;
        top: 91px;
        left: 7px;
    }

    .hero-list-item:nth-child(2) {
        position: relative;
        top: 31px;
        left: -156px;
    }

    .hero-list-item:nth-child(3) {
        position: relative;
        top: 95px;
        left: -338px;
    }

    .hero-list-item-arrow-left {
        display: none;
    }

    .hero-list-item-picture {
        /* position: relative; */
        margin: 0;
        width: 490px;
        height: 603px;
    }

    .hero-list-item-picture-image {
        width: 490px;
        height: 603px;
    }


    .hero-list-item-picture-text {
        width: 469px;
        height: 76px;
        font-size: 18px;
        line-height: 1.7;
        right: -21px;
        top: -75px;
        padding-top: 21px;
        padding-left: 20px;
    }

    .hero-list-item-arrow-right {
        display: none;
    }

    .photo {
        display: block;
    }
}

.cookbook {
    padding-top: 26px;
    padding-bottom: 32px;
}

.cookbook-title {
    font-family: Noto Sans TC;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1.68px;
    align-items: center;
    margin: 0 7px 24px 20px;
}

.cookbook-image {
    position: relative;
    max-width: fit-content;
    left: -8px;
}

.cookbook-text {
    /* font-family: Noto Serif TC; */
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.36px;
}

.cookbook-title-cook {
    font-family: Noto Sans TC;
    font-weight: 400;
    line-height: 1.925;
    letter-spacing: 0.36px;
}

.cookbook-list {
    margin: 0 12px;
}

.cookbook-list-item {
    width: 280px;
}

.cookbook-list-item-title {
    font-family: Noto Sans TC;
    /* font-weight: 400; */
    line-height: 1.25;
    letter-spacing: 0.48px;
    margin: 23px 15px 7px 0;
}

.cookbook-list-item-text {
    /* font-family: Noto Serif TC; */
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 23px;
}

.cookbook-story-image {
    position: relative;
    max-width: fit-content;
    left: -10px;
}

.cookbook-story-image-big {
    display: none;
}

.cookbook-story-information-title {
    font-family: Noto Sans TC;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.48px;
    margin: 20px 50px 10px 0;
}

.cookbook-story-information-text {
    /* font-family: Noto Serif TC; */
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.36px;
}

.cookbook-story-information-button {
    width: 180px;
    height: 49px;
    border: 1px solid #2A1804;
    font-family: Noto Sans TC;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.47998px;
    background-color: #FFFFFF;
    margin-top: 23px;
}

.cookbook-story-information-button:hover {
    transition: 0.5s;
    background-color: #daf0e0;
}

@media screen and (min-width: 1200px) {
    .cookbook {
        padding-top: 86px;
        padding-bottom: 186px;
    }

    .cookbook-title {
        font-size: 72px;
        line-height: 1.05;
        margin: 0;
    }

    .cookbook-image {
        width: 1140px;
        height: 1140px;
        position: static;
        margin: 90px 0 120px 0;
    }

    .cookbook-text {
        width: 752px;
        font-size: 24px;
        line-height: 1.25;
        text-align: left;
    }

    .cookbook-title-cook {
        font-size: 37px;
        line-height: 1.25;
        margin: 124px 0 59px 0;
    }

    .cookbook-list {
        display: flex;
        column-gap: 90px;
        width: 1020px;
        margin-bottom: 120px;
        margin-left: auto;
        margin-right: auto;
    }

    .cookbook-list-item-title {
        font-size: 24px;
        line-height: 30px;
    }

    .cookbook-list-item-text {
        margin: 0;
    }

    .cookbook-story {
        display: flex;
    }

    .cookbook-story-information {
        margin: 30px 0 212px 0;
    }

    .cookbook-story-image-big {
        display: block;
        width: 1139px;
        height: 640px;
    }

    .cookbook-story-image {
        display: none;
    }

    .cookbook-story-information-title {
        font-size: 23px;
        font-weight: 400;
        width: 662px;
        height: 30px;
        margin: 0;
    }

    .cookbook-story-information-text {
        font-size: 24px;
        width: 744px;
        height: 90px;
        margin: 0;
    }

    .cookbook-story-information-button {
        width: 210px;
        height: 52px;
        font-size: 24px;
        line-height: 1.25;
        margin: 60px 0 37px 0;
    }
}



.dumpligs {
    padding-bottom: 24px
}

.dumpligs>.container {
    width: 280px;
}

.dumpligs-title {
    font-family: Noto Sans TC;
    font-weight: 400;
    line-height: 1.925;
    letter-spacing: 0.36px;
}

.dumpligs-image {
    position: relative;
    left: -20px;
    height: 221px;
    margin: 6px 0 33px 0;
    max-width: fit-content;
}

.dumpligs-list-item-image {
    width: 280px;
    height: 350px;
}

.dumpligs-list-item-title {
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: 0.48px;
    margin: 23px 0 6px 0;
}

.dumpligs-list-item-text {
    font-family: Noto Serif TC;
    font-size: 15px;
    line-height: 1.5;
}

@media screen and (min-width: 1200px) {
    .dumpligs {
        padding-bottom: 241px;
    }

    .dumpligs>.container {
        width: 1140px;
    }

    .dumpligs-title {
        font-size: 36px;
        line-height: 1.3;
        margin-bottom: 59px;
    }

    .dumpligs-image {
        position: static;
        min-width: 1140px;
        height: 641px;
        margin: 0;
    }

    .dumpligs-list {
        width: 1020px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 90px;
        row-gap: 130px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
    }

    .dumpligs-list-item {
        width: 272px;
    }

    .dumpligs-list-item-text {
        font-size: 16px;
        line-height: 1.375;
        width: 274px;
    }
}

.latest-title {
    margin-bottom: 25px;
    font-family: Noto Sans TC;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.36px;
    text-align: center;
}

.latest-list-item {
    display: flex;
    column-gap: 9px;
}

.latest-list-item-image {
    width: 70px;
    height: 75px;
}

.latest-list-item-information {
    height: 130px;
}

.latest-list-item-information-title {
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.48px;
    padding-bottom: 3px;
}

.latest-list-item-information-text {
    /* font-family: Noto Serif TC; */
    font-size: 12px;
    line-height: 1.25;
}

@media screen and (min-width: 1200px) {
    .latest {
        padding-bottom: 181px;
    }

    .latest-title {
        margin-bottom: 59px;
        font-size: 38px;
        line-height: 1.26;
        text-align: left;
    }

    .latest-list {
        display: grid;
        grid-template-columns: 545px 545px;
        grid-template-rows: 134px 134px 134px;
        column-gap: 40px;
        row-gap: 70px;
    }

    .first {
        order: 1;
    }

    .second {
        order: 3;
    }

    .third {
        order: 5;
    }

    .fourth {
        order: 2;
    }

    .fifth {
        order: 4;
    }

    .sixth {
        order: 6;
    }

    .latest-list-item {
        width: 545px;
        column-gap: 20px;
    }

    .latest-list-item-image {
        width: 134px;
        height: 134px;
    }

    .latest-list-item-information-title {
        padding-bottom: 7px;
        font-size: 23px;
        line-height: 1.3;
    }

    .latest-list-item-information-text {
        font-size: 14px;
        line-height: 1.6;
    }
}

.popular-title {
    font-family: Noto Sans TC;
    line-height: 1.2;
    letter-spacing: 0.36px;
    font-weight: 400;
    margin-bottom: 16px;
}

.popular-list-item-image {
    position: relative;
    max-width: fit-content;
    left: -8px;
}

.popular-list-item-image-big {
    display: none;
}

.popular-list-item-title {
    font-family: Noto Sans TC;
    font-size: 21px;
    line-height: 1.4;
    letter-spacing: 0.48px;
    text-align: center;
    margin-top: 24px;
}

.popular-list-item-text {
    font-family: Noto Serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 24px 0 16px 0;
}

.popular-list-small {
    width: 280px;
    margin: 0 12px;
}

.popular-list-small-item-title {
    font-family: Noto Sans TC;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    margin-top: 23px;
}

.popular-list-small-item-text {
    /* font-family: Noto Serif TC; */
    font-size: 14px;
    line-height: 1.6;
    margin: 24px 0 7px 0;
}

@media screen and (min-width: 1200px) {

    .popular-title {
        font-size: 38px;
    }

    .popular-list {
        width: 1032px;
        display: flex;
        column-gap: 38px;
        margin: 59px 0 194px 60px;
    }

    .popular-list-item {
        width: 497px;
        height: 736px;
    }

    .popular-list-item-image {
        display: none;
    }

    .popular-list-item-image-big {
        display: block;
        position: static;
    }

    .popular-list-item-title {
        font-weight: 400;
        margin: 30px 0 33px 0;
    }

    .popular-list-item-text {
        width: 410px;
    }

    .popular-list-small {
        width: 1020px;
        display: flex;
        column-gap: 90px;
        margin: 0 0 0 60px;
    }

    .popular-list-small-item {
        width: 280px;
    }

    .popular-list-small-item-title {
        line-height: 1.4;
    }

    .popular-list-small-item-text {
        margin: 7px 0 0 0;
    }
}


.shops {
    padding-top: 31px;
    padding-bottom: 28px;
}

.shops-title {
    /* font-family: Noto Sans TC; */
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.96px;
    margin-bottom: 24px;
}

.shops-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 40px;
}

.shops-list-item {
    width: 131px;
    display: flex;
    flex-wrap: wrap;
}


.shops-list-item-name-text {
    /* font-family: Roboto; */
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: 0.45px;
}


.shops-list-item-name-number {
    /* font-family: Noto Sans TC; */
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.4px;
}

.shops-list-item-price {
    margin-left: auto;
}

.shops-list-item-price-button-minus {
    width: 7px;
    height: 7px;
    background-color: #FFFFFF;
    border: 0;
}

.shops-list-item-price-button-plus {
    width: 7px;
    height: 7px;
    background-color: #FFFFFF;
    border: 0;
}

.shops-list-item-price-text {
    /* font-family: Noto Sans TC; */
    font-size: 12px;
    line-height: 0.75;
    padding-left: 12px;
}

.shops-tools {
    display: flex;
    column-gap: 81px;
    margin-top: 24px;
}

.shops-tools-price-text {
    /* font-family: Noto Sans TC; */
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.4px;
    margin-bottom: 7px;
}

.shops-tools-price-button {
    width: 55px;
    height: 18px;
    border-radius: 10px;
    background: #FBE570;
    border: 0;
    font-family: Noto Sans TC;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.4px;
}

.shops-tools-promocode-text {
    /* font-family: Noto Sans TC; */
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

.shops-tools-promocode-input {
    width: 89px;
    height: 20px;
    border: 1px solid #2A1804;
}

@media screen and (min-width: 1200px) {

    .shops {
        padding-top: 241px;
    }

    .shops-title {
        margin-bottom: 110px;
        font-size: 22px;
        line-height: 1.4;
    }

    .shops-list {
        flex-wrap: nowrap;
        column-gap: 36px;
    }

    .shops-list-item {
        width: 199px;
    }

    .shops-list-item-image {
        height: 200px;
    }

    .shops-list-item-name-text {
        font-size: 16px;
        line-height: 1.4;
    }

    .shops-list-item-name-number {
        font-size: 16px;
        line-height: 1.9;
    }

    .shops-list-item-price-button-minus {
        width: 15px;
        height: 15px;
        font-size: 1.5rem
    }

    .shops-list-item-price-button-plus {
        width: 15px;
        height: 15px;
        font-size: 1.5rem;
    }

    .shops-list-item-price-text {
        font-size: 18px;
        line-height: 1.7;
        padding-left: 27px;
    }

    .shops-tools {
        display: grid;
        display: flex;
        justify-content: end;
        column-gap: 31px;
        margin: 19px 0 14px 0;
    }

    .shops-tools-price {
        order: 2;
    }

    .shops-tools-price-text {
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 16px;
    }

    .shops-tools-price-button {
        width: 121px;
        height: 34px;
        font-size: 24px;
        line-height: 1.25;
    }

    .shops-tools-promocode {
        order: 1;
    }

    .shops-tools-promocode-text {
        font-size: 24px;
        line-height: 0.625;
        margin-top: 10px;
        margin-bottom: 23px;
    }

    .shops-tools-promocode-input {
        width: 137px;
        height: 32px;
    }
}


footer {
    background-color: #FDF9F1;
}

.footer {
    display: flex;
    column-gap: 27px;
    /* height: 77px; */
    padding: 9px 0 12px 0;
}

.footer-information {
    width: 130px;
}

.footer-information-text-big {
    /* font-family: Noto Serif TC; */
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: 0.4px;
    margin-bottom: 4px;
}

.footer-information-text {
    /* font-family: Roboto; */
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.45px;
}

.footer-media-input {
    width: 59px;
    height: 20px;
    border: 1px solid #2A1804;
    background-color: #FDF9F1;
}

.footer-media-list {
    display: flex;
    column-gap: 8px;
}

.footer-media-blocks {
    width: 121px;
    display: flex;
    margin-bottom: 14px;
    gap: 4px;
    margin-left: 24px;
}

.footer-media-line {
    width: 58px;
    border-bottom: 1px solid #B3B0A3;
}

.footer-media-list-item-link {
    /* font-family: Roboto; */
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: 0.45px;
}


@media screen and (min-width: 1200px) {

    .footer {
        height: 194px;
        column-gap: 396px;
        padding: 30px 0;
    }

    .footer-information {
        width: 371px;
    }

    .footer-information-text-big {
        line-height: 1.45;
        font-size: 20px;
        margin-bottom: 71px;
    }

    .footer-information-text {
        font-size: 15px;
        line-height: 1.5;
    }

    .footer-media-blocks {
        width: 374px;
        gap: 10px;
        margin-bottom: 60px;
    }

    .footer-media-line {
        width: 214px;
    }

    .footer-media-input {
        width: 149px;
        height: 52px;
    }

    .footer-media-list {
        padding-left: 195px;
    }

    .footer-media-list-item-link {
        font-size: 15px;
        line-height: 1.5;
    }
}